In [2]:
# question 1

In [6]:
var1="Soumya"
type(var1)

str

In [7]:
var2=[1,2,3,4,5,"sudh"]
type(var2)

list

In [9]:
var3=(22.5,45.0)
type(var3)

tuple

In [10]:
var4=22.5
type(var4)

float

In [14]:
# question 2  
1. String 
2. String
3. list
4. int

In [15]:
# question 3 
1. divide 
2. modulus 
3. floor (division)
4. power

In [16]:
a=3

In [17]:
b=9

In [18]:
a/b

0.3333333333333333

In [19]:
b%a

0

In [20]:
b//a

3

In [21]:
b**a

729

In [22]:
# question 4

In [23]:
l=[1,2,3,4.0,"Soumya",22.4 ,"sudh",5,99,19]
for i in l:
    print (i)
    print (type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4.0
<class 'float'>
Soumya
<class 'str'>
22.4
<class 'float'>
sudh
<class 'str'>
5
<class 'int'>
99
<class 'int'>
19
<class 'int'>

In [24]:
# question 5

In [27]:
def count_divisions(a, b):
    count = 0

    while a % b == 0:
        a = a // b
        count += 1

    return count
number_a = 100
number_b = 5

divisions = count_divisions(number_a, number_b)
if divisions > 0:
    print(f"The number {number_a} is purely divisible by {number_b} and can be divided {divisions} times")
else:
    print(f"The number {number_a} is not purely divisible by {number_b}")

The number 100 is purely divisible by 5 and can be divided 2 times

In [28]:
# question 6

In [29]:
n=[1,2,3,4,5,6,7,8,9,11,14,13,44,23,24,34,35,36,37,78,79,80,68,67,70]
for number in n:
    if number%3==0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
11 is not divisible by 3
14 is not divisible by 3
13 is not divisible by 3
44 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
34 is not divisible by 3
35 is not divisible by 3
36 is divisible by 3
37 is not divisible by 3
78 is divisible by 3
79 is not divisible by 3
80 is not divisible by 3
68 is not divisible by 3
67 is not divisible by 3
70 is not divisible by 3

In [30]:
# question 7 
Mutable data types:
    The data types whose values can be changed i.e. you can modify its value without creating a new object . It includes list , dictionaries and sets .
    Example:
        x=[1,2,3,"soumya"]
        y={"SUDH","JOSEPH"}
Immutable data types:
    The data types whose values cannot be changed i.e if you modify its value then new object will be created . It includes string , tuple , and integer
    Example :
        x=20
        x=(1,2,3,"sara")